{% extends "core/base.html" %}

{% block title %}Welcome{% endblock %}


{% block content %}
    <div class="content">
    <div class="content-left">
     <h1>
      THE OFFICIAL AFFILIATE PROGRAM FOR
      <span style="color:#ff00ff;">
       COCOCAM
      </span>
     </h1>
     <p>
      CocoCam introduces to the market a completely fresh and innovative approach to retention and monetization of adult live streams. By bringing gamification and social mechanisms into play, we aim to achieve the best conversion and highest spending in the industry, which significantly benefits our models and partners!
     </p>
     <p>
      <strong>
       What are you waiting for?
      </strong>
      <br/>
      Start making money now!
     </p>
     <a class="apply-button" href="{% url 'accounts:register' %}">
      Apply Now!
     </a>
    </div>
   </div>
{% endblock %}
