

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #2c2c2c;
}
.topnav a {
    color:#ff00ff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 19px;

    margin-top: 54xp;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
}
.terms a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
}
.navbar .buttons a {
    background-color: #ff00ff;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}
.button a {
    background-color: #ff00ff;
    padding: 20px 30px;
    border-radius: 20px;
    color: #fff;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 400px;
    z-index: 2;
}
.content-left {
    max-width: 50%;
}
.content-left p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.content h2 {
    font-size: 10px;
    line-height: 1;
    margin-bottom: 1px;
    
    justify-content: space-between;
    
}
.content-left .apply-button {
    background-color:#ff00ff;
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.con h1 {
    text-align: center;
    font-size: 3rem;
    color: #ff00ff;
    margin-bottom: 20px;
}

.input-group input {
    width: 100px;
    padding: 10px 40px;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    color: #c9d1d9;
    font-size: 16px;
}
.con .input-group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 17px;
}
.con .input-group input {
    border: none;
    background: none;
    color: #fff;
    outline: none;
    flex: 1;
    padding: 5px;
}
.con .input-group input:focus {
    -webkit-box-shadow: 0px 0px 10px 20px #a321cf;
    -maz-box-shadow: 0px 0px 10px 20px #a321cf;
    box-shadow: 0px 0px 10px 20px #a321cf;
}


.container {
    width: 400%;
    max-width: 800px;
    background-color: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 0 10px rgb(255, 0, 251);
    border-radius: 8px;
    padding: 40px 60px;
    
    position: absolute;
    top: 200px;
    right: 630px;
    background-color: transparent;
    border: 1px solid #a321cf;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.logo {
    text-align: center;
    margin-bottom: 40px;
}
.logo h1 {
    display: inline;
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
    color: #ff00ff;
    text-align: center;
    margin-bottom: 20px;
}

.mandatory {
    color: #ff00ff;;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.mandatory i {
    margin-right: 5px;
}

.con h7 {
    text-align: center;
    font-size: 3rem;
    color: #ff00ff;
    margin-bottom: 20px;
}
.sex {
    width: 400%;
    max-width: 800px;
    background-color: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 0 10px rgb(255, 0, 251);
    border-radius: 8px;
    padding: 40px 60px;
    
    position: absolute;
    top: 300px;
    right: 630px;
    background-color: transparent;
    border: 1px solid #a321cf;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.cont {
    width: 400%;
    max-width: 800px;
    background-color: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0 0 10px rgb(255, 0, 251);
    border-radius: 8px;
    padding: 40px 60px;
    
    position: absolute;
    top: 300px;
    right: 630px;
    background-color: transparent;
    border: 1px solid #a321cf;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.con h6 {
    
    font-size: 3rem;
    color: #ff00ff;
    margin-bottom: 20px;
}




.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.hidden {
    display: none;
}


#submit:hover {
  filter: contrast(120%);
}

#submit {
  font-feature-settings: "pnum";
  --body-color: #f7fafc;
  --button-color: #556cd6;
  --accent-color: #556cd6;
  --gray-border: #e3e8ee;
  --link-color: #fff;
  --font-color: #697386;
  --body-font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  --radius: 4px;
  --form-width: 400px;
  -webkit-box-direction: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  -webkit-appearance: button;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  padding: 0 12px;
  line-height: 32px;
  outline: none;
  text-decoration: none;
  text-transform: none;
  margin-right: 8px;
  height: 36px;
  border-radius: var(--radius);
  color: #fff;
  border: 0;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease;
  display: block;
  box-shadow: 0 4px 5.5px 0 rgba(0,0,0,.07);
  width: 100%;
  background: var(--button-color);
}